/* styling in alphabetical order */
.about p{
  line-height: 2em;
  padding-top: 1em;
}

body {
  font-family: Muli;
}

/* case study styling */
.casestudy {
  padding-top: 1.5em;
}

/* Let's Connect footer */
.connect{
  float: left;
  font-size: .6em;
}

.container {
  max-width: 800px;
}

footer {
  padding-top: 4em;
}

.footerlinks {
  font-size: .6em;
}

header {
  background: url(../images/Vector7.png) center / cover;
  height: 70vh;
  justify-content: center;
  text-align: center;
}

/* header text styling */
h1 {
  text-align: center;
  padding-top: 7em;
  font-size: 2em;
  font-weight: bold;
}

/* about header */
h2 {
  font-weight: bold;
  font-size: 2em;
  padding-bottom: 1em;
}

/* case study links */
h2 a {
  text-decoration: none;
  color: #424d53;
}

h3 {
  padding-top: 1em;
}

img {
  width: 100%;
  max-width: 500px;
  justify-content: center;
}

li {
  display: inline;
  float: right;
  padding: 8px;
}

/* header navigation */
li a{
  text-decoration: none;
  color: #424d53;
  font-weight: 800;
  font-size: 1.5em;
}

li a:hover{
  color: #ffa54f;
}

.miniheader{
  padding-top: 7em;
}

.projectheader{
  height: 80vh;
}

.resume {
  max-width: 800px;
}

.resumeheader{
  height: 45vh;
}

/* page contents from title to just before footer */
section{
  margin: auto;
  display: block;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
